* {
  outline: 1px solid grey;
}

body {
  font-family: 'Mali', cursive;
  display: grid;
  width: 100vw;
  grid-template-rows: 100px 100px 100px 400px 200px 100px;
}

#index-body {
  background-image: url('../images/leaves-background.jpg');
}
header {
  grid-row: 1;
}

h1 {
  text-align: center;
  background-color: grey;
  color: white;
  font-size: 50px;
  padding: 10px;
}

ul {
  display: inline-block;
  width: 100%;
}

li {
  background-color: grey;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

#index-button-container {
  grid-row: 3;
}
#map {
  grid-row: 4;
  width: 100%
}

#game-state {
  color: white;
}
