* {
  outline: 1px solid grey;
}

body {
  font-family: 'Mali', cursive;
  display: grid;
  width: 100vw;
  grid-template-rows: 100px 100px 100px 400px 200px 100px;
}

#index-body {
  background-image: url('../images/leaves-background.jpg');
}

h1 {
  grid-row: 1;
  text-align: center;
  background-color: black;
  color: white;
  height: 100%;
}

ul {
  grid-row: 2;
  height: 100%;
  display: inline-block;
  width: 100%;
}
li {
  font-size: 4vw;
  background-color: black;
  color: white;
  text-align: center;
}
#index-button-container {
  grid-row: 3;
}
#map {
  grid-row: 4;
  height: 100%;
}

#game-state {
  color: white;
}
