body.about-us {
    text-align: center;
    display: flex wrap;
}


img.about-us, img.detail {
    margin: 5vh auto;
    width: 50vw;
}

h3.about-us {
    font-size: 5vw;
    font-weight: medium;
}

p.about-us {
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 769px) {
    body {
        width: 100vw;
    }

    main.about-us {
        display: flex; 
        justify-content: center;
    } 

    div.about-us {
        padding: 20px;
        text-align: center;
        max-width: 30%;
    }

    h1 {
        color: white;
        font-size: 5vw;
        padding: 2vw;
    }
      
    ul {
        display: inline-block;
        width: 100%;
    }
    
    li {
        background-color: black;
        color: white;
        text-align: center;
        height: auto;
        padding: 1vh 0;
    }

    img.about-us {
        width: 15vw;
    }

    h3.about-us {
        padding: 4vw 0vw 2vw 0vw;
        font-size: 3vw;
        line-height: 4vw;
      }

    div.detail > img {
        margin: 1vh auto;
        width: auto;
    }
    
}